@model SistemaBancario.Models.Conta

@{
    ViewData["Title"] = "Cadastrar Conta";
}

<h2>Criar nova Conta</h2>

@if(TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}

<a asp-action="Listar" class="btn btn-success mt-3 mb-3">Ver todas as contas</a>

<form asp-action="Cadastrar" method="post">

    <div class="form-group mb-2">
        <label asp-for="NomeCliente" class="control-label">Nome do Cliente</label>
        <input asp-for="NomeCliente" name="NomeCliente" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label asp-for="Saldo" class="control-label">Saldo Inicial</label>
        <input asp-for="Saldo" name="Saldo" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label asp-for="TipoConta" class="control-label">Tipo de Conta</label>
        <select name="TipoConta" class="form-control" required>
            <option value="" disabled selected>Selecione o tipo da conta</option>
            <option value="Corrente">Conta Corrente</option>
            <option value="Poupança">Conta Poupança</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Criar Conta</button>
</form>
